{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Password Reset{% endblock title %}

{% block content %}
    <h2>Password Reset</h2>


    {% if validlink %}
        <p>Please enter your new password twice</p>
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-success">Change Password</button>
            <br>
        </form>
    {% else %}
        <p>The link is wrnog or time is end please try again </p>

    {% endif %}

{% endblock content %}

<!-- news password enter section -->


